@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff2');
  src: local('MullerBold'), local('Muller Bold'),
    url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerLight.woff2');
  src: local('MullerLight'), local('Muller Light'),
    url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff2');
  src: local('MullerMedium'), local('Muller Medium'),
    url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff2');
  src: local('MullerRegular'), local('Muller Regular'),
    url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Muller', sans-serif;
  min-width: 1200px;
  background-color: #e5e5e5;
}

/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 1200px;
}

.vissually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.section-title {
  margin: 0;
  padding-left: 40px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333;
}

/* header */
.header {
  padding: 30px 0 41px;
}

.header__top-block {
  align-items: center;
  margin-bottom: 25px;
}

.header-logo {
  margin-right: 40px;
}

.header-phone {
  margin-right: auto;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666;
}

.header-personal {
  display: inline-flex;
  align-items: center;
  padding-left: 28px;
}

.header-personal-image {
  margin-right: 7px;
}

.header-personal-text {
  color: #c93;
}

.header__bottom-block {
  padding: 13px 45px;
  border-radius: 15px;
  background: #FFFFFF;
}

.header-nav {
  justify-content: space-between;
}

.header-links {
  align-items: center;
}

.header-links-item:not(:last-child) {
  margin-right: 45px;
}

.header__buttons {
  align-items: center;
}

.btn {
  padding: 11px 19px;
  border: 1px solid #cc9933;
  border-radius: 10px;
  background-color: transparent;
  color: #cc9933;
}

.header-btn:not(:last-child) {
  margin-right: 40px;
}

/* special */
.special {
  padding: 30px 0 40px;
}

.special-card-wrap {
  justify-content: space-between;
}

.special-card-left {
  flex-direction: column;
  flex-basis: 50%;
  min-width: 573px;
  margin-right: 24px;
}

.special-card {
  min-width: 573px;
  flex-direction: column;
  flex-basis: 50%;
  padding: 40px 45px;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.special-card-maldives {
  background-image: url('../img/special-1.jpg');
}

.special-card:not(:last-child) {
  margin-bottom: 24px;
}

.special-card-сrete {
  background-image: url('../img/special-2.jpg');
}

.special-card-right {
  background-image: url('../img/special-3.jpg');
}


.special-card-right {
  justify-content: flex-end;
}

.special-card-title {
  max-width: 400px;
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #fff;
}

.special-card-title-bold {
  max-width: 300px;
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: #fff;
}

.special-price {
  margin-bottom: 45px;
  font-size: 20px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.8);
}

.special-price-bold {
  margin-bottom: 45px;
  font-size: 30px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.8);
}

.special-link {
  width: 102px;
  color: #f0bf5f;
  background-image: url('../img/arrow-right-gold.svg');
  background-position: right center;
  background-repeat: no-repeat;
}

/* info */
.info {
  padding: 30px 0 40px;
}

.info-descr {
  margin: 0;
  width: 888px;
  line-height: 200%;
}

/* services */
.services {
  padding: 30px 0 14px;
}

.services-card {
  padding: 191px 45px 35px;
  border-radius: 15px;
  background-color: #fff;
  background-position: center top;
  background-repeat: no-repeat;
}

.services-card-service {
  background-image: url('../img/services-1.jpg');
}
.services-card-rent {
  background-image: url('../img/services-2.jpg');
}
.services-card-sauna {
  background-image: url('../img/services-3.jpg');
}
.services-card-parking {
  background-image: url('../img/services-4.jpg');
}

.services-card-title {
  margin: 0;
}

.services-link {
  padding-right: 18px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #f0bf5f;
  background-image: url('../img/arrow-right-gold.svg');
  background-position: right center;
  background-repeat: no-repeat;
}

.services-card-text {
  margin: 0;
  width: 400px;
  line-height: 200%;
}

.services-list {
  justify-content: space-between;
  flex-wrap: wrap;
}

.services-item {
  width: 573px;
  margin-bottom: 24px;
}

/* advantages */
.advantages {
  padding: 30px 0;
}

.advantages-list {
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages-item {
  margin-bottom: 22px;
}

.advantages-card {
  padding: 40px 40px 32px 45px;
  width: 276px;
  border-radius: 15px;
  background-color: #fff;
}

.advantages-text {
  margin: 0;
  line-height: 200%;
}

.advantages-card-image {
  margin-bottom: 10px;
  width: 66px;
  height: 66px;
  background-repeat: no-repeat;
}

.advantages-card-image-1 {
  background-image: url('../img/advantages-1.svg');
}

.advantages-card-image-2 {
  background-image: url('../img/advantages-2.svg');
}

.advantages-card-image-3 {
  background-image: url('../img/advantages-3.svg');
}

.advantages-card-image-4 {
  background-image: url('../img/advantages-4.svg');
}

.advantages-card-image-5 {
  background-image: url('../img/advantages-5.svg');
}

.advantages-card-image-6 {
  background-image: url('../img/advantages-6.svg');
}

.advantages-card-image-7 {
  background-image: url('../img/advantages-7.svg');
}

.advantages-card-image-8 {
  background-image: url('../img/advantages-8.svg');
}
/* placement */
.placement {
  padding: 30px 0;
}

.placement-list {
  justify-content: space-between;
  flex-wrap: wrap;
}

.placement-item {
  width: 374px;
  margin-bottom: 24px;
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
}

.placement-item-link {
  justify-content: center;
  align-items: flex-end;
}

.placement-card {
  flex-direction: column;
  align-items: flex-start;
}

.placement-wrap {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 32px 45px 45px;
}

.placement-price-wrap {
  width: 100%;
  margin-bottom: 16px;
  justify-content: space-between;
}

.placement-card-from {
  line-height: 16px;
  color: #999;
}

.placement-card-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000;
}

.placement-card-night {
  line-height: 16px;
  color: #000;
}

.placement-card-title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000;
}

.placement-location {
  margin-bottom: 20px;
  line-height: 16px;
  color: #999;
}

.placement-item-link {
  padding-bottom: 27px;
  background-image: url('../img/placement-9.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.placement-card-link {
  padding-right: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #fff;
  background-image: url('../img/arrow-right.svg');
  background-position: right center;
  background-repeat: no-repeat;
}
